<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='../vue/dist/vue.js'></script>
</head>
<body>
    <div id="app">
        <h1>v-if和v-for哪个优先级更高？ 如果两个同时出现，应该怎么优化得到更好的性能</h1>
        <p v-for="child in children" v-if="isFolder">{{child.title}}</p>
        <!-- <template v-if='isFolder'>
            <p v-for="child in children">{{child.title}}</p>
        </template> -->
    </div>
    
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                children:[
                    {
                        title: '前端',
                        value: 1
                    },
                    {
                        title: 'foo',
                        value: 2
                    }
                ]
            },
            computed: {
                isFolder() {
                    return this.children && this.children.length
                }
            }
        });
        console.log(app.$options.render);
    </script>
</body>
</html>